<div class="container">
    <form>
        <div class="form-group">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search Criteria" aria-label="Search Criteria">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Search</button>
                </div>
            </div>
            <div *ngIf="lwlServiceApiOne | async as response">
                <div *ngFor="let tableRow of response.table">
                    {{tableRow.user_name}}
                </div>
            </div>
            HEY THERE HI THERE HO THERE
            <div *ngIf="lwlServiceApiTwo | async as response">
                <div *ngFor="let tableRow of response.table">
                    {{tableRow.user_name}}
                </div>
            </div>
        </div>
    </form>
</div>
