<div class="container">
    <form>
        <div class="form-group" *ngIf="mainServiceApiYesterday | async">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search Criteria" aria-label="Search Criteria">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Search</button>
                </div>
            </div>
            <div>
                <app-chart [options]=chartOptions></app-chart>
            </div>
            <div>
                <app-grid [options]=gridOptions></app-grid>
            </div>
        </div>
    </form>
</div>
