<div id={{options.name}}></div>
<div class="grid" *ngIf="options.data as data">
    <div class="row">
        <h5 class='col-sm-1'>User Name</h5>
        <h5 class='col-sm-1'>Record Count</h5>
        <h5 class='col-sm-1'>CPU Used MHZ</h5>
        <h5 class='col-sm-1'>Rank Score</h5>
        <h5 class='col-sm-1'>Memory Used MB</h5>
        <h5 class='col-sm-1'>Page Used MB</h5>
        <h5 class='col-sm-1'>Total IO BPS</h5>
        <h5 class='col-sm-1'>Total IOPS</h5>
        <h5 class='col-sm-1'>Net Total BPS</h5>
        <h5 class='col-sm-1'>CPU Switch Average</h5>
        <h5 class='col-sm-1'>Swap Page Faults</h5>
        <h5 class='col-sm-1'>Page Faults</h5>
    </div>
    <div *ngFor="let row of data">
        <div class="row">
            <span class='col-sm-1'>{{row.user_name}}</span>
            <span class='col-sm-1'>{{row.record_count}}</span>
            <span class='col-sm-1'>{{row.cpu_used_mhz}}</span>
            <span class='col-sm-1'>{{row.rank_score}}</span>
            <span class='col-sm-1'>{{row.memory_used_mb}}</span>
            <span class='col-sm-1'>{{row.page_used_mb}}</span>
            <span class='col-sm-1'>{{row.total_io_bps}}</span>
            <span class='col-sm-1'>{{row.total_iops}}</span>
            <span class='col-sm-1'>{{row.net_total_bps}}</span>
            <span class='col-sm-1'>{{row.cpu_context_switching_avg}}</span>
            <span class='col-sm-1'>{{row.swap_page_faults}}</span>
            <span class='col-sm-1'>{{row.page_faults}}</span>
        </div>
    </div>
</div>
